:root {
    --main-page-color: #44c2d4;
    --hover-color: #42929e;
    --align: center;
}

.title {
    color: var(--main-page-color);
    margin-left: 1.2em;
}

.text {
    margin-left: 1em;
}

.button {
    background-color: var(--main-page-color);
    border: none;
}

.moreInfo {
    color: var(--main-page-color);
    margin-left: -0.6em;
}

.moreInfo:hover {
    color: var(--hover-color);
}

.button:hover {
    background-color: var(--hover-color);
}

.infoTitle {
    color: var(--main-page-color);
    margin-left: 1.2em
}
