:root {
    --main-page-color: #44c2d4;
    --hover-color: #42929e;
    --align: center;
}

.title{
    color: var(--main-page-color);
    text-align:  var(--align);
}

.text{
    text-align:  var(--align);
}

.button {
    background-color: var(--main-page-color);
    border: none;
}

.moreInfo {
    color: var(--main-page-color);
}


.moreInfo:hover {
    color: var(--hover-color);
}

.button:hover {
    background-color: var(--hover-color);
}

.infoTitle{
    text-align:  var(--align);
    color: var(--main-page-color);
}
