.title {
    color: var(--main-page-color);
    margin-left: 1.2em;
}

.text {
    margin-left: 1em;
}

.button {
    background-color: var(--main-page-color);
    border: none;
    outline: none!important;
    box-shadow: none!important;
}

.moreInfo {
    color: var(--main-page-color);
    margin-left: -0.6em;
}

.moreInfo:hover, .moreInfo:active, .moreInfo::selection {
    color: var(--hover-color)!important;
    outline: none!important;
    box-shadow: none!important;
}

.button:hover {
    background-color: var(--hover-color);
}

.infoTitle {
    color: var(--main-page-color);
    margin-left: 1.2em
}

.div {
    z-index: 10000;
}

.information {
    z-index: 10001;
}
