:root {
  --white: white;
  --hover-color: #2f8794;
  --black: black;
  --grey: #faf9f9;
  --text-gray: #787878;
  --transparent: transparent;
  --align: center;
}

body {
	display: flex;
	justify-content: var(--align);
	align-items: var(--align);
	height: 100vh;
}

ul {
  text-align: var(--align);
  white-space: nowrap;
  list-style: none;
}

.arrow-container {
  text-align: var(--align);
  white-space: nowrap;
  list-style: none;
}

.arrow-down {
  transition-delay: 0.25s;
  display: block;
  width: 15px;
  height: 15px;
  border-top: 2px solid var(--black);
  border-right: 2px solid var(--black);
  transform: rotate(135deg);
  margin-top: -1.5em;
}

.arrow-top {
  transition-delay: 0.25s;
  display: block;
  width: 15px;
  height: 15px;
  border-top: 2px solid var(--black);
  border-right: 2px solid var(--black);
  transform: rotate(315deg);
  margin-top: -1em;
  margin-bottom: -0.5em;
}

.arrow:hover {
  border-top: 2px solid var(--hover-color);
  border-right: 2px solid var(--hover-color);
}

.open {
  transform: rotate(-45deg);
}

.close {
  position: absolute;
  right: 93%;
  top: 10px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
  color: var(--hover-color);    
}

  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: var(--black);
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

  #accordion {
    background-color: var(--transparent);
  }

  #sensorOverviewContainer {
    background-color: var(--grey)
  }

  #pointOverviewContainer {
    background-color: var(--grey)
  }


  .card {
    background-color: var(--transparent);
    border: var(--transparent);
  }  


