#sensorOverviewContainer {
    --transparent: transparent;
    --align: center;
    background-color: var(--tertiary-background-color);
    overflow-y: scroll;
    color: var(--primary-text-color);
}

ul {
    text-align: var(--align);
    white-space: nowrap;
    list-style: none;
}

.arrow-container {
    text-align: var(--align);
    white-space: nowrap;
    list-style: none;
}

.arrow-down {
    transition-delay: 0.25s;
    display: block;
    width: 15px;
    height: 15px;
    border-top: 2px solid var(--border);
    border-right: 2px solid var(--border);
    transform: rotate(135deg);
    margin-top: -1.5em;
}

.arrow-top {
    transition-delay: 0.25s;
    display: block;
    width: 15px;
    height: 15px;
    border-top: 2px solid var(--border);
    border-right: 2px solid var(--border);
    transform: rotate(315deg);
    margin-top: -1em;
    margin-bottom: -0.5em;
}

.arrow:hover {
    border-top: 2px solid var(--hover-color);
    border-right: 2px solid var(--hover-color);
}

.open {
    transform: rotate(-45deg);
}

.close {
    position: absolute;
    margin-left: -0.6em;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
    color: var(--hover-color);
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: var(--border);
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.help {
    color: var(--secondary-text-color);
}

.help:hover {
    color: var(--hover-color);
}

#accordion {
    background-color: var(--transparent);
}

#pointOverviewContainer {
    background-color: var(--grey);
    overflow-y: scroll;
    height: 90vh;
    color: var(--primary-text-color);
}

#help {
    color: var(--secondary-text-color);
}

#help:focus {
    color: var(--main-page-color)!important;
}

#help:hover {
    color: var(--main-page-color);
}

#help:active {
    color: var(--main-page-color)!important;
}

.card {
    background-color: var(--transparent);
    border: var(--transparent);
}

p.expert {
    color: var(--secondary-text-color);
}

#sensorOverviewContainer .card>.card-header {
    background-color: var(--quarternary-background-color);
}

#sensorOverviewContainer .accordion {
    background-color: var(--tertiary-background-color);
}

#sensorOverviewContainer, #pointOverviewContainer {
    z-index: var(--overview-z-index);
}
