:root {
  --main-page-color: #44c2d4;
  --white: white;
  --hover-color: #2f8794;
  --black: black;
  --grey: rgb(241, 241, 241);
  --text-gray: #787878
}

p {
  color: var(--text-grey);
}

p:hover {
  color: var(--main-page-color);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

ul {
  text-align: center;
  white-space: nowrap;
  list-style: none;
}

li {
  text-align: center;
  white-space: nowrap;
  list-style: none;
  margin-top: -2.4em;
}
.arrow {
  display: block;
  width: 15px;
  height: 15px;
  border-top: 2px solid var(--black);
  border-right: 2px solid var(--black);
  transform: rotate(135deg);
  
}

.arrow:hover {
  border-top: 2px solid var(--hover-color);
  border-right: 2px solid var(--hover-color);
}

.open {
  transform: rotate(-45deg);
}

.close {
  position: absolute;
  right: 93%;
  top: 10px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
  .close:hover {
    opacity: 1;
    color: var(--hover-color);
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: var(--black);
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

  #accordion {
    background-color: transparent;
  }

  #sensorOverviewContainer {
    background-color: var(--grey)
  }

  #pointOverviewContainer {
    background-color: var(--grey)
  }


  .card {
    background-color: transparent;
    border: transparent;
  }


