:root {
    --main-page-color: #44c2d4;
    --white: white;
    --grey: #555;
    --light-grey: #777;
    --black: rgba(0, 0, 0, 0.2);
}

body {
    margin: 0px;
}

.info {
    padding: 12px 8px;
    font: 14px/px Arial, Helvetica, sans-serif;
    background: var(--white);
    box-shadow: 0 0 15px var(--black);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: var(--light-grey);
}

.legend {
    text-align: left;
    line-height: 25px;
    color: var(--gray);
}

.legend i {
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 15px;
    opacity: 0.7;
}

p.legendHeader {
    font-size: 1rem;
    padding: 0 0 0.4em 0;
    color: var(--main-page-color);
    font-weight: 500;
    margin-bottom: 0;
}
