:root {
  --main-page-color: #44c2d4;
  --white: #ede7e3;
  --hover-color: #2f8794;
  --black: black;
  --text-gray: #787878
}

.navbar {
  background-color: #f3f3f3!important;
}
.navbar-nav, .navbar-dark .nav-link {
  color: var(--black);
}
.navbar-brand {
  font-size: 1.4em;
  color: var(--main-page-color);
}
.form-center {
  position: absolute !important;
  left: 25%;
  right: 25%;
}

.header

.dropdown:hover>.dropdown-menu {
  display: block;
}

#title {
  color: var(--main-page-color);
}

#nav-link {
  color: var(--text-gray);
}

#nav-link:focus {  
  color: var(--main-page-color)!important; 
}

#nav-link:hover { 
  color: var(--main-page-color);
}

#nav-link:active { 
  color: var(--main-page-color)!important; 
}

#nav-link-lng:hover {
  color: var(--main-page-color);
}

#nav-link-lng::selection {
  color: var(--main-page-color)!important;
}

#nav-link-lng:focus {
  color: var(--main-page-color)!important;
}

#link {
  color: var(--text-gray);
}

#dropdown-basic {
  color: var(--text-gray);
}

#dropdown-basic:hover {
  color: var(--main-page-color);
}

.form-check {
  padding-left: 2.3em;
  color: var(--text-gray);
}

#checkbox {
  padding-left: 0.8em;
  color: var(--text-gray);
  overflow: hidden;
}

#overlay {
  margin-left: 1.4em;
  margin-top: -1.5em;
}

p {
  padding-left: 1em;
  color: var(--main-page-color)
}

