.navbar {
    background-color: var(--primary-background-color);
    z-index: 1020;
    color: var(--secondary-text-color);
}

p.dropdown-header {
    font-size: 1.03rem;
    padding: 0 0 0.2em 1em;
    color: var(--main-page-color);
    font-weight: 600;
    margin-bottom: 0;
}

.navbar-main .nav-link {
    padding: 0.5rem;
}

.navbar-nav,
.navbar-dark .nav-link {
    color: var(--primary-text-color);
}

.navbar-brand {
    font-size: 1.4em;
    color: var(--main-page-color);
}

.form-center {
    position: absolute !important;
    left: 25%;
    right: 25%;
}

.form-inline#form-timequery {
    margin-top: 0.25rem;
    padding-left: 1.5rem;
}

.form-group {
    margin: 0;
    padding-left: 1.5rem;
}

.form-check {
    margin-right: 1.5rem;
    padding-left: 1.5rem;
    color: var(--secondary-text-color);
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.button-historical {
    position: relative;
    z-index: 2;
    margin-left: 10px;
    background-color: var(--main-page-color);
    border: none;
}

.button-historical:hover,
.button-historical::selection,
.button-historical:active {
    background-color: var(--hover-color)!important;
    outline: none!important;
    box-shadow: none!important;
}

.button-historical:disabled {
    background-color: var(--main-page-color);
}

#help {
    color: var(--secondary-text-color);
}

#help:hover {
    color: var(--main-page-color);
}

#title {
    color: var(--main-page-color);
}

#nav-link,
#drop-link {
    color: var(--secondary-text-color);
}

#drop-link:focus,
#drop-link:hover,
#drop-link:active,
#drop-link::selection {
    color: var(--main-page-color)!important;
    outline: none!important;
    box-shadow: none!important;
    background-color: var(--secondary-background-color)!important;
}

.dropdown-menu {
    background-color: var(--tertiary-background-color);
    color: var(--secondary-text-color);
    white-space: nowrap;
}

a:not([role="button"]):focus,
a:not([role="button"]):hover,
a:not([role="button"]):active,
a:not([role="button"])::selection {
    text-decoration: underline;
}

#nav-link:focus,
#nav-link:hover,
#nav-link:active {
    color: var(--main-page-color)!important;
    outline: none!important;
    box-shadow: none!important;
}

#nav-link-lng {
    color: var(--secondary-text-color);
}

#nav-link-lng:hover {
    color: var(--main-page-color);
}

#nav-link-lng::selection {
    color: var(--main-page-color)!important;
    outline: none!important;
    box-shadow: none!important;
}

#nav-link-lng:focus {
    color: var(--main-page-color)!important;
}

#link {
    color: var(--secondary-text-color);
}

#dropdown-basic {
    color: var(--secondary-text-color);
}

#dropdown-basic:hover,
#dropdown-basic::selection {
    color: var(--main-page-color);
    outline: none!important;
    box-shadow: none!important;
}

#help {
    color: var(--secondary-text-color);
}

#help:focus {
    color: var(--main-page-color)!important;
}

#help:hover {
    color: var(--main-page-color);
}

#help:active {
    color: var(--main-page-color)!important;
}

#checkbox {
    padding-left: 0.8em;
    color: var(--secondary-text-color);
    overflow: hidden;
}

#overlay {
    margin-left: 1.4em;
    margin-top: -1.5em;
}

p {
    padding-left: 1em;
    color: var(--main-page-color)
}

.map-content {
    border: none;
}

.map {
    border: none;
}
