:root {
  --main-page-color: #44c2d4;
  --white: white;
  --hover-color: #2f8794;
  --black: black;
  --grey: rgb(241, 241, 241);
  --text-gray: #787878
}

.navbar { background-color: #FFF; }
a, .navbar-nav, .navbar-dark .nav-link {
  color: #000;
}
.navbar-brand {
  font-size: 1.4em;
  color: var(--main-page-color);
}
.form-center {
  position: absolute !important;
  left: 25%;
  right: 25%;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

#title {
  color: var(--main-page-color);
}

#nav-link {
  color: var(--text-gray);
}

#nav-link:focus {  
  color: var(--main-page-color)!important; 
}

#nav-link:hover { 
  color: var(--main-page-color);
}

#nav-link:active { 
  color: var(--main-page-color)!important; 
}

#nav-link-lng:hover {
  color: var(--main-page-color);
}

#nav-link-lng::selection {
  color: var(--main-page-color)!important;
}

#nav-link-lng:focus {
  color: var(--main-page-color)!important;
}

#link {
  color: var(--text-gray);
}

#dropdown-basic {
  color: var(--text-gray);
}

#dropdown-basic:hover {
  color: var(--main-page-color);
}

.form-check {
  padding-left: 2.3em;
  color: var(--text-gray);
}

p {
  padding-left: 1em;
  color: var(--main-page-color)!important
}

