:root {
    --main-page-color: #44c2d4;
    --hover-color: #42929e;
    --align: center;
}

.title{
    color: var(--main-page-color);
    text-align:  var(--align);
}

.button {
    background-color: var(--main-page-color);
    border: none;
}

.button:hover {
    background-color: var(--hover-color);
}