:root {
    --main-page-color: #44c2d4;
    --hover-color: #42929e;
    --align: center;
}

.title {
    color: var(--main-page-color);
    margin-left: 1em;
    margin-top: 1em;
}

.text {
    margin-left: 1em;
}

.button {
    background-color: var(--main-page-color);
    border: none;
}

.button:hover, .button:active, .button::selection {
    background-color: var(--hover-color)!important;
    outline: none!important;
    box-shadow: none!important;
}

.piechart {
    height: 15em;
    text-align: left;
}

.container {
    height: 20em;
}

.help-button {
    margin-top: -0.2em;
    width: 1.5em;
    height: 1.5em;
}
