#tooltip-top>.tooltip-inner {
    background-color: #B4E6ED;
    color: #000;
    border: 1px #2f8794;
}

#tooltip-top>.tooltip-arrow {
    border-top: #B4E6ED;
    background-color: #B4E6ED;
    border-color: azure;
}

.help {
    position: absolute;
    right: 93%;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.help:hover {
    opacity: 1;
    color: #2f8794;
}

.help:before,
.help:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.help:before {
    transform: rotate(45deg);
}

.help:after {
    transform: rotate(-45deg);
}