.legend {
    bottom: 60px;
}

style {
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    --icon-width: 25px;
    --icon-height: 26px;
    --active-height: 40px;
    --close-button-max-size: 12px;
   
    --primary-color: #000000;
    --secondary-color: rgba(141, 141, 141, 0.639);
    --border-color: rgba(0,0,0,.2);
    --border-size: 0px;
    --main-background-color: #ffffff;
    --background-color-candidate: #5a6673;
    --background-color-hover: #5a6673b3;
    --background-color-active: #50c3bd;
    --svg-stroke-width: 5px;
}

.custom-style {
    width: var(--icon-width);
    height: var(--icon-height);
    background-color: aliceblue;
    --icon-button-max-size: 2px;
}

div#map-content { padding: 0 0 0 0; };